@{
    ViewData["Title"] = "Relatórios";
}

<h1 class="text-center mb-4">Relatórios do Sistema</h1>

<div class="relatorio-container">
    <div class="relatorio-item">
        <h5>Total de Imóveis Cadastrados</h5>
        <p>@ViewBag.totalDeImoveisCadastrados</p>
    </div>
    <div class="relatorio-item">
        <h5>Total de Anúncios Cadastrados</h5>
        <p>@ViewBag.totalDeAnunciosCadastrados</p>
    </div>
    <div class="relatorio-item">
        <h5>Total de Usuários Cadastrados</h5>
        <p>@ViewBag.totalDeUsuariosCadastrados</p>
    </div>
</div>
