
@{
    ViewData["Title"] = "Index";
}

<h1>Página de Relatórios</h1>

<h5>Número de Imóveis cadastrados: @ViewBag.totalDeImoveisCadastrados</h5>
<h5>Número de Anúncios cadastrados: @ViewBag.totalDeAnunciosCadastrados</h5>
<h5>Número de Usuários cadastrados: @ViewBag.totalDeUsuariosCadastrados</h5>