@model click_imoveis.Models.Comentario

@{
    ViewData["Title"] = "Create";
}


<h1>Comentário</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="formularioComentario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comentario.Conteudo" class="control-label"></label>
                <input asp-for="Comentario.Conteudo" class="form-control" />
                <span asp-validation-for="Comentario.Conteudo" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <label asp-for="Comentario.Nota" class="control-label"></label>
                <input asp-for="Comentario.Nota" class="form-control" />
                <span asp-validation-for="Comentario.Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

