@model click_imoveis.Models.Comentario

@{
    ViewData["Title"] = "Excluir Comentário";
}
<div class="container">
    <hr class="mt-0 h-2px" />
    <h1 class="mb-4 text-danger">Excluir Comentário</h1>

    <div class="alert alert-warning">
        Tem certeza que deseja excluir este comentário?
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Conteúdo</dt>
                <dd class="col-sm-9">@Model.Conteudo</dd>
                <dt class="col-sm-3">Nota</dt>
                <dd class="col-sm-9">@Model.Nota</dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ComentarioId" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
