@model click_imoveis.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Editar dados do Usuário</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.UsuarioId" />
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Senha" class="control-label"></label>
                <input asp-for="Usuario.Senha" class="form-control" />
                <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Pessoa" class="control-label"></label>
                <select asp-for="Usuario.Pessoa" class="form-control" asp-items="Html.GetEnumSelectList<Pessoa>()" disabled></select>
                <input type="hidden" asp-for="Usuario.Pessoa"/>
                <span asp-validation-for="Usuario.Pessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.TipoDeUsuario" class="control-label"></label>
                <select asp-for="Usuario.TipoDeUsuario" class="form-control" asp-items="Html.GetEnumSelectList<TipoDeUsuario>()"></select>
                <span asp-validation-for="Usuario.TipoDeUsuario" class="text-danger"></span>
            </div>

            @{
                if (Model.Usuario.Pessoa == Pessoa.PessoaFisica)
                {
                                       
                        <div class="form-group">
                            <label asp-for=@Model.PessoaFisica.NomeCompleto class="control-label"></label>
                            <input asp-for=@Model.PessoaFisica.NomeCompleto class="form-control" />
                            <span asp-validation-for=@Model.PessoaFisica.NomeCompleto class="text-danger"></span>
                        </div>
                     
                }
                else if (Model.Usuario.Pessoa == Pessoa.PessoaJuridica)
                {                    
                        <div class="form-group">
                            <label asp-for=@Model.PessoaJuridica.RazaoSocial class="control-label"></label>
                            <input asp-for=@Model.PessoaJuridica.RazaoSocial class="form-control" />
                            <span asp-validation-for=@Model.PessoaJuridica.RazaoSocial class="text-danger"></span>
                         </div>                   
                }
            }

            <div class="form-group">
                <label asp-for="Usuario.Logradouro" class="control-label"></label>
                <input asp-for="Usuario.Logradouro" class="form-control" />
                <span asp-validation-for="Usuario.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Numero" class="control-label"></label>
                <input asp-for="Usuario.Numero" class="form-control" />
                <span asp-validation-for="Usuario.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Complemento" class="control-label"></label>
                <input asp-for="Usuario.Complemento" class="form-control" />
                <span asp-validation-for="Usuario.Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Bairro" class="control-label"></label>
                <input asp-for="Usuario.Bairro" class="form-control" />
                <span asp-validation-for="Usuario.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Cidade" class="control-label"></label>
                <input asp-for="Usuario.Cidade" class="form-control" />
                <span asp-validation-for="Usuario.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Estado" class="control-label"></label>
                <input asp-for="Usuario.Estado" class="form-control" />
                <span asp-validation-for="Usuario.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.CodigoPostal" class="control-label"></label>
                <input asp-for="Usuario.CodigoPostal" class="form-control" />
                <span asp-validation-for="Usuario.CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.TelefonePrincipal" class="control-label"></label>
                <input asp-for="Usuario.TelefonePrincipal" class="form-control" />
                <span asp-validation-for="Usuario.TelefonePrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.TelefoneAlternativo1" class="control-label"></label>
                <input asp-for="Usuario.TelefoneAlternativo1" class="form-control" />
                <span asp-validation-for="Usuario.TelefoneAlternativo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.TelefoneAlternativo2" class="control-label"></label>
                <input asp-for="Usuario.TelefoneAlternativo2" class="form-control" />
                <span asp-validation-for="Usuario.TelefoneAlternativo2" class="text-danger"></span>
            </div>
            



           


            <div class="form-group">
                <a asp-action="Index" class="btn btn-warning">Voltar</a> |
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
