html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.relatorio-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.relatorio-item {
    background-color: white;
    padding: 1rem;
    border-left: 5px solid #4CAF50;
    border-radius: 5px;
}

    .relatorio-item h5 {
        margin: 0;
        font-size: 1.1rem;
        color: #333;
    }

    .relatorio-item p {
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
    }

    .logo {
        width: 100px;
        height: auto;
        border-radius: 5mm;
        padding-left: 10px;
    }

.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

    body{
        padding-top: 20px;
    }